<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Ant Capt Trainsition-KL001.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,324},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,324},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,324},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,324},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0016.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0017.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0018.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0019.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL002.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,324},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0020.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0021.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0023.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0024.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0025.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0026.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0027.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0028.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL0029.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,163},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL003.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,324},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL004.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,2},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL005.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,2},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL006.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,2},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL007.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,2},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL008.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,2},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Trainsition-KL009.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,2},{61,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,159}}</string>
			<key>sourceSize</key>
			<string>{61,159}</string>
		</dict>
		<key>Ant Capt Transistion-From KL001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,638},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,611},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,605},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,605},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,605},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,548},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,548},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL0016.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,548},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL0017.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,542},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL0018.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,542},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL0019.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,542},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,638},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL0020.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,542},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL0021.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,485},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,485},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL0023.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,485},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL0024.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,485},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL0025.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,485},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,638},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,638},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL005.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,479},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL006.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,479},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL007.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,479},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL008.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,611},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Ant Capt Transistion-From KL009.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,611},{61,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,158}}</string>
			<key>sourceSize</key>
			<string>{61,158}</string>
		</dict>
		<key>Lat Capt KL-Jumping001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,479},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,320},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,320},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,320},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,320},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,320},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,320},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0016.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,320},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0017.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,320},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0018.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,161},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0019.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,161},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,479},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0020.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,161},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0021.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,161},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,161},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0023.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,161},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0024.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,161},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0025.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,161},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0026.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,161},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0027.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,161},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0028.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,161},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0029.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,2},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,479},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0030.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,2},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping0031.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,2},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping006.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,320},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping007.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,320},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping008.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,320},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
		<key>Lat Capt KL-Jumping009.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,320},{157,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,180}}</string>
			<key>sourceSize</key>
			<string>{157,180}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>CCC_Kangaroo.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f28115451801fca6c6786186a0f582b8:1/1$</string>
		<key>textureFileName</key>
		<string>CCC_Kangaroo.png</string>
	</dict>
</dict>
</plist>
